---
title: 401 - Unauthorized
pageable: false
blog: en
lang: en
---
-force_locale current_page
%h2
    %i.icon-bug
    Unauthorized

%p.error404
    401
    %span 
        Unauthorized

%p.error404-desc
