---
title: 500 - Internal Server Error
pageable: false
blog: en
lang: en
---
-force_locale current_page
%h2
    %i.icon-bug
    Internal Server Error

%p.error404
    500
    %span 
        Internal Server Error

%p.error404-desc
