$color-blue: #3578AF;
$color-default: #333;

ul.posts li {
    font-size: 14px;
}
.project-date {
    margin-bottom: 0;
}
ul.menu {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
        color: #ccc;
        font-style: italic;
        font-size: 13px;
        a {
            font-weight: normal;
            font-style: normal;
        }
    }
}
.footer {
    padding: 10px 0 20px;
}

#home h2, #euler h2 {
    i {
        color: $color-blue;
    }
    color: $color-default;
}

.label, .badge {
    font-size: 11px;
    font-weight: normal;
}

#my-location {
    border: 1px solid #D8D8D8;
    height: 200px;
    margin: 5px 0;
    width: 100%;
}

.skillset {
    p {
        color: #888;
        margin: 2px 0;
        font-size: 14px;
        strong {
            color: $color-default;
            font-weight: normal;
        }
        span {
            i.icon-star {
                color: #3578AF;   
            }
        }
    }
}