$color-blue: #3578AF;
$color-default: #333;

ul.posts li {
    font-size: 14px;
}
.project-date {
    margin-bottom: 0;
}
ul.menu {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
        color: #ccc;
        font-style: italic;
        font-size: 13px;
        a {
            font-weight: normal;
            font-style: normal;
        }
    }
}
.footer {
    padding: 10px 0 20px;
}

#home h2, #euler h2 {
    i {
        color: $color-blue;
    }
    color: $color-default;
}

.label, .badge {
    font-size: 11px;
    font-weight: normal;
    a {
        :hover, :active, :visited, :link {
            color: #fff;
        }
        color: #fff;
    }
}
ul#blog-posts {
    .label, .badge {
        margin-left: 5px;
    }
}

#my-location {
    border: 1px solid #D8D8D8;
    height: 200px;
    margin: 5px 0;
    width: 100%;
}

h5.menu {
    color: #bbb;
    font-weight: 200;
    text-align: right;
    margin: -10px 0 5px 0;
    padding: 0;
    font-size: 14px;
}

p.error404 {
    font-size: 100px;
    line-height: 100px;
    margin: 50px 0;

    span {
        line-height: 10px;
        display: block;
        position: relative;
        font-size: 14px;
        color: #ccc;
        margin-top: -10px;
        margin-left: 120px;

        -moz-text-shadow: 2px #fff;
        -webkit-text-shadow: 2px #fff;
        text-shadow: 2px #fff;
    }
}
p.error404-desc {
    margin-bottom: 50px;
}

#disqus_thread {
    margin-top: 50px
}

.google_search {
    .cse .gsc-control-cse, .gsc-control-cse { 
        padding: 0 !important;
    }
    .cse input.gsc-search-button, input.gsc-search-button {
        border-radius: 5px;
        padding: 6px 9px;
    }
    #gsc-i-id1 {
        background: none repeat scroll 0 0 transparent !important;
        border-color: #FFFFFF;
        border-radius: 0 0 0 0;
        box-shadow: none;
        font-size: 14px;
        padding-bottom: 6px !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    height: 27px;
    margin-bottom: 16px;
}

.skillset {
    p {
        color: #888;
        margin: 2px 0;
        font-size: 14px;
        strong {
            color: $color-default;
            font-weight: normal;
        }
        span {
            i.icon-star {
                color: #3578AF;   
            }
        }
    }
}