
%h2
  %i.icon-money
  Commercial Projects
/ %h2.project-date 2013 »
%ul.posts
  %li
    %i.icon-time
    GetOnDek.com:
    Sports Card Creator
    %div.pull-right
      %span.label.label-success django
  %li
    %i.icon-time
    CLIP3:
    Youth Camp Managment service
    %div.pull-right
      %span.label.label-info bootstrap
      %span.label.label-success django
  %li
    %i.icon-external-link
    %a{href: "http://apprupt.com"}  
      Apprupt.com:
    Ads management service - backend, custom framework
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://sciaga.pl"}
      Sciaga.pl:
    Polish education service, custom framework
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://zaliczaj.pl"}
      Zaliczaj.pl:
    Polish education service, custom framework
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://benc.pl"}
      Benc.pl:
    Polish parenting service, custom framework
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://mymonki.pl"}
      Mymonki.pl:
    Childrens accesories store, magento template
    %div.pull-right
      %span.label.label-info php5
      %span.label.label-warning magento
%hr/