
%h2
  %i.icon-money
  =t :commercial_projects
%ul.posts
  %li
    %i.icon-time
    bazy-firm-do-pobrania.pl:
    =t :cm_bazafirm_desc
    %div.pull-right
      %span.label.label-success django
  %li
    %i.icon-time
    GetOnDek.com:
    =t :cm_getondek_desc
    %div.pull-right
      %span.label.label-success django
  %li
    %i.icon-time
    CLIP3:
    =t :cm_clip3_desc
    %div.pull-right
      %span.label.label-info bootstrap
      %span.label.label-success django
  %li
    %i.icon-external-link
    %a{href: "http://apprupt.com"}  
      Apprupt.com:
    =t :cm_apprupt_desc
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://sciaga.pl"}
      Sciaga.pl:
    =t :cm_sciaga_desc
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://zaliczaj.pl"}
      Zaliczaj.pl:
    =t :cm_zaliczaj_desc
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://benc.pl"}
      Benc.pl:
    =t :cm_benc_desc
    %div.pull-right
      %span.label.label-info php5
  %li
    %i.icon-external-link
    %a{href: "http://mymonki.pl"}
      Mymonki.pl:
    =t :cm_mymonki_desc
    %div.pull-right
      %span.label.label-info php5
      %span.label.label-warning magento
%hr/
