
© Łukasz Malik, 2014 — built with 
%a{:href => "http://github.com/swanson/lagom"} Lagom Theme
ported for
%a{:href => "http://directory.middlemanapp.com"} Middleman
powered by
%a{:href => "http://www.ruby-lang.org"} Ruby 
