
© Łukasz Malik, 2013 — zbudowane na szablonie
%a{:href => "http://github.com/swanson/lagom"} Lagom
dla systemu
%a{:href => "http://directory.middlemanapp.com"} Middleman
napędzany przez 
%a{:href => "http://www.ruby-lang.org"} Ruby 