%div.google_search
    :javascript
        (function() {
            var cx = '002349337114831187786:fukpk2fwnuc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    %searchbox-only
    #{'<gcse:searchbox-only></gcse:searchbox-only>'}
%hr/
