%h2
    =tplvar 'author', data, current_page
%hr/
%p Freelancer, webdeveloper, programista, użytkownik Linuksa.
%p
    \... gotowy do  
    %a{:href => "mailto:&#108;&#117;&#107;&#097;&#115;&#122;&#064;&#109;&#097;&#108;&#105;&#107;&#046;&#112;&#114;&#111;"}pracy
    \.
%hr/