%h2
    =tplvar 'author', data, current_page
%hr/
%p Freelancer, webdeveloper, programista, użytkownik Linuksa.
%p
    \Możesz
    %a{:href => "mailto:lukasz@malik.pro"}skontaktować się
    \ze mną w razie potrzeby.
%hr/
