%h2
  %i.icon-beaker
  =t :private_projects
%ul.posts
  %li
    %i.icon-github-alt
    %a{href: "/"}
      #{t :this_blog}:
    =t :pr_this_blog
    %a{:href => "http://directory.middlemanapp.com"} Middleman
    %div.pull-right
      %span.label.label-important ruby
      %span.label.label-warning middleman
  %li
    %i.icon-time
    TVQuery:
    =t :pr_tvquery
    %div.pull-right
      %span.label.label-info bootstrap
      %span.label.label-important rails
%hr/