%h2
  %i.icon-beaker
  Private Projects
/ %h2.project-date 2013 »
%ul.posts
  %li
    %i.icon-github-alt
    %a{href: "/"}
      This Blog:
    Pre-cooked personal website powered by
    %a{:href => "http://directory.middlemanapp.com"} Middleman
    %div.pull-right
      %span.label.label-important ruby
      %span.label.label-warning middleman
  / %li
  /   %i.icon-picture
  /   %a{href: "/"}
  /     Synonimizer:
  /   [enter description here]
  /   %div.pull-right
  /     %span.label.label-info bootstrap
  /     %span.label.label-success django
  %li
    %i.icon-time
    TVQuery:
    Customisable TV Guide
    %div.pull-right
      %span.label.label-info bootstrap
      %span.label.label-important rails
%hr/