%h2
  %i.icon-beaker
  =t :private_projects
%ul.posts
  %li
    %i.icon-github-alt
    %a{href: "https://github.com/malik-pro/blog"}
      #{t :this_blog}:
    =t :pr_this_blog
    %a{:href => "http://middlemanapp.com"} Middleman
    %div.pull-right
      %span.label.label-important ruby
      %span.label.label-warning middleman
%hr/
