%h2
  %i.icon-wrench
  =t :skillset
%div.row-fluid.skillset
  %div.span6
    %p 
      %strong 
        #{t :programming_markup_languages}:
    %p
      PHP
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      Python / Django
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p
      Ruby / Rails
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
        %i.icon-star-empty
    %p
      Javascript / JQuery
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      Java / Android
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
        %i.icon-star-empty
        %i.icon-star-empty
  %div.span6
    %p 
      %strong 
        #{t :software}:
    %p
      Linux
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      GIT
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p
      Photoshop
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p 
      %strong 
        #{t :foreign_languages}:
    %p
      =t :english
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
%hr/
