%h2
  %i.icon-wrench
  Skillset
%div.row-fluid.skillset
  %div.span6
    %p 
      %strong Programming &amp; markup languages:
    %p
      PHP
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      Python &amp; Django
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p
      Ruby &amp; Rails
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
        %i.icon-star-empty
    %p
      Javascript &amp; JQuery
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      Java &amp; Android
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
        %i.icon-star-empty
        %i.icon-star-empty
  %div.span6
    %p 
      %strong Software:
    %p
      Linux
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
    %p
      Git
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p
      Photoshop
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
    %p 
      %strong Foreign languages:
    %p
      English
      %span.pull-right
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star
        %i.icon-star-empty
%hr/
