#disqus_thread
:javascript
  var disqus_shortname = 'malikpro#{get_root_tag(current_page)}';
  var disqus_identifier = '#{current_page.url}';
  var disqus_title = '#{current_page.title}';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();