
Czy ten wpis był przydatny? Możesz subskrybować mój
%strong kanał RSS
by być na bierząco z pojawiającymi się tu artykułami
%div.text-right
    %a#mc-embedded-subscribe.button{href: "http://feeds.feedburner.com/malikpropl"} Subskrybuj