---
title: Archives
pageable: false
blog: en
lang: en
---
-force_locale current_page
%h2
  %i.icon-bookmark
  / Blog posts in 
  / - case page_type
  / - when 'day'
  /   = I18n.l Date.new(year, month, day), :format => '%B %e %Y'
  / - when 'month'
  /   = I18n.l Date.new(year, month, 1), :format => '%B %Y'
  / - when 'year'
  /   = year
= partial('partials/articles', :locals => {:all_articles => page_articles})


= partial 'partials/pages'