---
description: "desc"
keywords "keyword": 
author "Åukasz Malik": 
title: Portfolio
pageable: false
blog: en
lang: en
---
- if not blog.articles.empty?
  %h2
    %i.icon-bookmark
    Blog Posts
  = partial('partials/articles', :locals => {:all_articles => blog.articles})
  %hr/

= partial 'partials/commercial_projects'

= partial 'partials/private_projects'

= partial 'partials/skillset'

%h2
  %i.icon-map-marker
  Location
%div#my-location
