!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "tmcKOx1zMYBWB2eWotWenUeXCZ2xuaTo5CHRjC6rjdw", name: "google-site-verification"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Łukasz Malik - blog posts, writeups, projects
    %meta{content: "Łukasz Malik", name: "author"}/
    %meta{content: "blog posts, writeups and projects by a Łukasz Malik, the Juvenile Programmer", name: "description"}/
    %link{href: "/", rel: "canonical"}/
    
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", rel: "stylesheet", type: "text/css"}/
    %link{href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet"}/

    %link{href: "/static/favicon.png", rel: "icon", type: "image/png"}/
    %link{href: "/atom.xml", rel: "alternate", title: "Łukasz Malik", type: "application/rss+xml"}/
    %link{href: "/stylesheets/all.css", rel: "stylesheet"}/
    / %link{href: "/stylesheets/syntax.css", rel: "stylesheet"}/

    /[if IE 7]
      <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
  %body
    .container
      .four.columns.sidebar
        %nav
          %h1 /dev/blog
          %span#logo-container
            %a{href: "/"}
              %span.logo-bracket> {
              m
              %span.logo-bracket> }
          %h2
            I'm
            %a{href: "/"} Łukasz Malik
          %hr/
          %ul
            %p I'm a programmer, 
            %hr/
            %ul.tags
              - blog.tags.each do |tag, articles|
                %li
                  = link_to tag, tag_path(tag)
            %hr/
            %div
              #social
                Follow me:
                #stalker
                  %a{href: "https://bitbucket.org/chesster/", title: "chesster on BitBucket"}
                    %i.icon-bitbucket-sign
                  %a{href: "https://twitter.com/lukaszmalikpro", title: "lukaszmalikpro on Twitter"}
                    %i.icon-twitter-sign
                  %a#rss{href: "http://feeds.feedburner.com/aminbandali", title: "RSS feed"}
                    %i.icon-rss-sign
      .eleven.columns.content
        #home
          = yield
        .footer
          .disclaimer
            © Łukasz Malik, 2013 — built with 
            %a{:href => "http://github.com/swanson/lagom"} Lagom Theme
            ported for
            %a{:href => "http://directory.middlemanapp.com"} Middleman
            powered by
            %a{:href => "http://www.ruby-lang.org"} Ruby 


  / %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false", type: "text/javascript"}
  / %script{src: "http://code.jquery.com/jquery-1.10.1.min.js", type: "text/javascript"}
  / %script{src: "/javascripts/all.js", type: "text/javascript"}
