---
layout: false
blog: pl
---
!!! XML
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemalocation" => "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  %url
    %loc http://malik.pro
    %lastmod= Time.now.strftime('%Y-%m-%d')
    %changefreq daily
    %priority 1.0
  - blog.articles.each do |article|
    %url
      %loc
        http://malik.pro#{article.url}
      %lastmod= article.date.strftime('%Y-%m-%d')
      %changefreq monthly
      %priority 0.9