---
layout: false
---
!!! XML
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemalocation" => "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  %url
    %loc http://malik.pro
    %lastmod= Time.now.strftime('%Y-%m-%d')
    %changefreq daily
    %priority 1.0
  - sitemap.resources.each do |article|
    - if article.url.split('.').last == 'html' and article.url[1..-1].split('/').first != 'errors'
      %url
        %loc
          http://malik.pro#{article.url}
        %lastmod= article.data['date'] ? article.data['date'].split(' ').first : Time.now.strftime('%Y-%m-%d')
        %changefreq monthly
        %priority 0.9